body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

:root {
  --main-text-cl: #757575;
  --accent-cl: #2196f3;
  --title-cl: #212121;
  --white: #ffffff;
  --gray-bg: #2f303a;
  --rgba: rgba(255, 255, 255, 0.6);
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--title-cl);
}

.section-minor-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  color: var(--title-cl);
  text-transform: uppercase;
}

.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-cl);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}
address {
  font-style: normal;
}

.main-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-cl);
}

.role-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-cl);
}
.dark-bg {
  background-color: var(--gray-bg);
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  color: #2196f3;
}

.logo-studio {
  color: #212121;
}

.logo-portfolio {
  color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--title-cl);
}

.footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.all-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-cl);
}
.all-title-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-cl);
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-cl);
  background-color: #f5f4fa;
}

.btn-color {
  color: #ffffff;
}

.contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.mail-tele-address {
  color: var(--rgba);
}
